<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Marginalia" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700&display=swap"
      rel="stylesheet"
    >

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen">
    <!-- Navbar -->
    <header>
      <div class="container mx-auto px-5 h-16 flex items-center justify-between">
        <!-- Logo + Brand -->
        <%= link_to root_path, class: "flex items-center gap-2 hover:opacity-80 transition" do %>
          <%= image_tag "logo.png", alt: "Logo", class: "h-10 w-10" %>
          <span class="text-lg font-semibold tracking-tight text-slate-700">
            Marginalia
          </span>
        <% end %>
        <!-- Navigation -->
        <nav class="flex items-center gap-3">
          <% if authenticated? %>
            <%= button_to "Sign out",
            session_path,
            method: :delete,
            form: {
              class: "inline",
              data: {
                turbo: true,
              },
            },
            class:
              "text-sm rounded-md px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 transition" %>
          <% else %>
            <%= link_to "Sign in",
            new_session_path,
            class: "text-sm text-gray-600 hover:text-gray-900 transition" %>

            <%= link_to "Sign up",
            signup_path,
            class:
              "text-sm rounded-md px-4 py-2 bg-blue-600 hover:bg-blue-500 text-white transition" %>
          <% end %>
        </nav>
      </div>
    </header>
    <!-- Flash (before content) -->
    <section class="mt-4">
      <%= render "shared/flash" %>
    </section>
    <!-- Page content -->
    <main class="container mx-auto px-5 ">
      <%= yield %>
    </main>
  </body>
</html>
